@inject DirectCompanies.Services.IEmployeeService IEmployeeService

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">           
            <div class="modal-body">
                <p>@Localization.Localizer.GetUi("DeleteMsg")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" @onclick="@Cancel">@Localization.Localizer.GetUi("Cancel")</button>
                <button type="button" class="btn btn-danger" @onclick=@Delete>@Localization.Localizer.GetUi("Delete")</button>
                 
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    public Home Parent { get; set; } = new();
    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter]
    public decimal EmployeeId { get; set; }
    [CascadingParameter]
    public CzAlert czAlert { get; set; }

    private void Cancel()
    {
        OnClose.InvokeAsync(false);
    }

    private async Task Delete()
    {
        var DeleteMsg = await IEmployeeService.Delete(EmployeeId);
        if (string.IsNullOrEmpty(DeleteMsg))
            czAlert.ShowSuccess();
        else
            czAlert.ShowDanger(DeleteMsg);
        
        OnClose.InvokeAsync(true);
        Parent.Search();

    } 
}